@media screen and (max-width: 767.98px) {
  nav,
  ul,
  .features-top {
    flex-direction: column;
    align-items: center;
  }
  .banner-img {
    display: flex;
    justify-content: center;
  }
  .banner-img img {
    width: 80%;
  }
  .features-top {
    margin: 1rem 0;
    text-align: center;
  }
  .feature-img {
    grid-template-columns: repeat(1, 1fr);
  }
}
